{% extends 'layouts/main.html' %}
{% block title %}Python{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Interactive Course Website</h1>
</div>
<div class="jumbotron">
	<div class="container">
 <div class="list-group">
  <a href="#" class="list-group-item active">
    Step By Step - Python
  </a>
  <a href="#" class="list-group-item">chapter 1</a>
  <a href="#" class="list-group-item">chapter 2</a>
  <a href="#" class="list-group-item">chapter 3</a>
  <a href="#" class="list-group-item">chapter 4</a>
</div>
  </div>
</div>
 

{% endblock %}
